.custom-link {
    padding: 0 1%;
    text-decoration: none;
    color: black;
    background-color: gainsboro;
    border-radius: 0 5px 0px 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 0.1%;
    display: inline-block;
    font-size: 12px;
    text-align: center;
}

.custom-link:hover {
    background-color: #9f0c0d;
    color: gainsboro;
}

.link-container {
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 0 5%;
}

.link-color-active {
    color: white; 
    background-color: #9f0c0d;
}

.setdisplay-column {
    display: flex;
    flex-direction: column;
}

.setdisplay-row {
    display: flex;
    flex-direction: row;
}

.settest_center_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.settest_down_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.image-container {
    position: relative;
    text-align: left;
    color: white;
}

.test_mid {
    position: absolute;
    top: 25%;
    padding:2%;
    max-width: 50%;
}

.image-container-img {
    padding: 0.5%;
    height: auto;
}
