
.custom-link {
    white-space: nowrap;
    color: black;
    text-decoration: none;
    padding: 2% 8%; 
    border-bottom: 1px solid #9f0c0d; 
    transition: background-color 0.3s, color 0.3s; 

    align-items: center;
    justify-content: center; 
}

.custom-link:hover, .custom-link.link-color-active {
    color: white;
    background-color: #9f0c0d; 
    border-radius: 5px; 
    border-bottom: none; 
}

.link-container {
    display: flex;
    gap: 1px; 
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
}


.setdisplay-column {
    display: flex;
    flex-direction: column;
}

.setdisplay-row {
    display: flex;
    flex-direction: row;
}

.settest_center_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.settest_down_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
}

.image-container {
    position: relative;
    text-align: left;
    color: white;
}

.test_mid {
    position: absolute;
    top: 25%;
    padding:2%;
    max-width: 50%;
}

.image-container-img {
    padding: 0.5%;
    height: auto;
}
.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 20px; 
}

.title {
    font-size: 24px; 
    color: #333; 
}

.content {
    max-width: 600px; 
    text-align: justify;
}

